body {
  background-color: lightblue;
  /* overflow: hidden; */
}

#slideout_inner {
    position: fixed;
    top: 40px;
    right: -250px;
    z-index: 100;
    background: #6DAD53;
    width: 200px;
    padding: 25px;
    height: 100%;
    transition-duration: 0.5s;
    text-align: left;;
    border-radius: 0 0 5px 0;
}

#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}

.hello {
    background-color: red;
}